---
import { getCollection, getEntry, render } from 'astro:content';
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const articleEntries = await getCollection('articles');
  
  if (articleEntries.length === 0) {
    return [];
  }
  
  return articleEntries.map(entry => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
if (!entry) {
  return Astro.redirect("/404");
}
const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
<Header />
  <body>
    <article>
      <h1>{entry.data.title}</h1>
      <time datetime={entry.data.publishDate.toISOString()}>
        {entry.data.publishDate.toISOString().split('T')[0]}
      </time>
      <Content />
    </article>
  </body>
  </Layout>
